## Relax Data Analysis Challenge
Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven day period, identify which factors predict future user adoption.

### Part 1: Metadata Collection + Anomalies Analysis
We get information about the size of the data sets and find out whether either of the data sets contain null values. From there, we can decide whether we should fill the null values, ignore them, or ignore the feature altogether.

In [1]:
import pandas as pd

In [2]:
engagement_csv = pd.read_csv('takehome_user_engagement.csv')

In [3]:
users_csv = pd.read_csv('takehome_users.csv')

In [4]:
engagement_csv.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [5]:
users_csv.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [6]:
engagement_csv.shape

(207917, 3)

In [7]:
users_csv.shape

(12000, 10)

In [8]:
engagement_csv.isnull().sum()

time_stamp    0
user_id       0
visited       0
dtype: int64

In [9]:
users_csv.isnull().sum()

object_id                        0
creation_time                    0
name                             0
email                            0
creation_source                  0
last_session_creation_time    3177
opted_in_to_mailing_list         0
enabled_for_marketing_drip       0
org_id                           0
invited_by_user_id            5583
dtype: int64

We can see that our engagement file has no nulls, however users file has null values in the last_session_creation_time (last login) and invited_by_user_id (user id of user who invited them to join). 

The nulls in the last login field could indicate that a user never logged in. This may mean that a user signed up (and that did not count as an official login), but never used their account. We can check whether this hypthesis is true by seeing if any creation_time fields equal the last_session_creation_time fields. If not, then it could support the fact that creating an account does not count as a login, and nulls in the login field could indicate that the user never logged into the account after its creation.

The nulls in the invitation field could easily indicate that the user was not invited by another user, and instead found the site themselves. This can be verified by checking to see if any of the nulls in the invitation column contain org_invite. If they do, this could mean that the anomaly is for a different reason.

In [10]:
null_login = users_csv[users_csv['last_session_creation_time'].isnull()]
null_login.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
11,12,2014-04-17 23:48:38,Mathiesen L�rke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN
15,16,2013-02-11 10:09:50,Engel Ren�,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN

In [11]:
last_login = users_csv[users_csv['last_session_creation_time'].notnull()]
last_login.fillna(0, inplace=True)
last_login.head()

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [12]:
len(users_csv[users_csv['last_session_creation_time'] == 0])

0

In [13]:
set(last_login['creation_time']).intersection(set(last_login['last_session_creation_time']))

set()

Because there are no last logins that are the same as the creation time, this provides support for our hypothesis that creating an account does not count as a login attempt. We can verify with the provider of the data set to validate this hypthesis.

In [14]:
null_invitation = users_csv[users_csv['invited_by_user_id'].isnull()]
null_invitation.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,NaN

In [15]:
len(users_csv[users_csv['object_id'] == 0])

0

In [16]:
set(null_invitation['creation_source'])

{'PERSONAL_PROJECTS', 'SIGNUP', 'SIGNUP_GOOGLE_AUTH'}

The users that have null in their invited_by_user_id column likely contain nulls because none of them have ORG_INVITE as their creation source. This measn that they were not invited by an existing user, which is why the field is null.

To clean our data set, we are going to fill all null fields. In the last_session_creation_time field, 0 will indicate that no logins were recorded. We can use 0 because no other rows in our data set contain 0 as a value for this field, and it makes intuitive sense. 

We can fill invited_by_user_id with 9999. Although there are no user id's with a value of 0 (object_id represents user id), we want to make it clear to outside users that this value is significant, so we will choose to fill nulls with 9999.

In [17]:
users_csv['last_session_creation_time'].fillna(0, inplace=True)
users_csv['invited_by_user_id'].fillna(9999, inplace=True)
users_csv.isnull().sum()

object_id                     0
creation_time                 0
name                          0
email                         0
creation_source               0
last_session_creation_time    0
opted_in_to_mailing_list      0
enabled_for_marketing_drip    0
org_id                        0
invited_by_user_id            0
dtype: int64

### Part 2: Exploratory Data Analysis
We are going to create the target column based on the definition of an 'adopted user' (above). We check to see if there's strong linear correlation among variables with the target or each other, and decide which algorithms to use to make our predictions + run feature importance on.

In [18]:
timestamp = pd.to_datetime(engagement_csv['time_stamp'])
login_df = pd.DataFrame(timestamp)
login_df['user_id'] = engagement_csv['user_id']
login_df['delta'] = 1

diff = [0]
for i in range(1,len(login_df)):
    diff_dates = login_df['time_stamp'][i] - login_df['time_stamp'][i-1]
    diff_days = diff_dates.days
    diff.append(diff_days)
login_df['delta'] = diff

In [19]:
login_df.head()

           time_stamp  user_id  delta
0 2014-04-22 03:53:30        1      0
1 2013-11-15 03:45:04        2   -159
2 2013-11-29 03:45:04        2     14
3 2013-12-09 03:45:04        2     10
4 2013-12-25 03:45:04        2     16

In [20]:
login_df[abs(login_df['delta']) <= 5].head()

            time_stamp  user_id  delta
0  2014-04-22 03:53:30        1      0
8  2014-02-08 03:45:04        2      5
9  2014-02-09 03:45:04        2      1
10 2014-02-13 03:45:04        2      4
11 2014-02-16 03:45:04        2      3

In [21]:
delta = 0
adopted_count = []

for i in range(len(login_df)-2):
    if abs(login_df['delta'][i]) <=5:
        delta+=abs(login_df['delta'][i])
        delta+=abs(login_df['delta'][i+1])
        if delta < 7:
            delta+=abs(login_df['delta'][i+2])
            if delta <= 7:
                adopted_count.append(1)
                delta = 0
            else:
                adopted_count.append(0)
                delta = 0
        else:
            adopted_count.append(0)
            delta = 0
    else:
        adopted_count.append(0)
        delta = 0

adopted_count.append(0)
adopted_count.append(0)

In [22]:
login_df['adopted'] = adopted_count

In [23]:
set(login_df['adopted'])

{0, 1}

In [24]:
dict(login_df.groupby('user_id')['adopted'].sum())

{1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 10: 234,
 11: 0,
 13: 0,
 14: 0,
 17: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 33: 0,
 36: 0,
 37: 0,
 41: 0,
 42: 308,
 43: 2,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 53: 2,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 63: 329,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 487,
 72: 0,
 73: 0,
 74: 22,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 80: 0,
 81: 41,
 82: 145,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 70,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0,
 100: 0,
 101: 0,
 103: 0,
 105: 0,
 106: 0,
 107: 0,
 109: 0,
 110: 0,
 111: 0,
 112: 0,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 119: 0,
 121: 0,
 123: 0,
 124: 0,
 125: 0,
 126: 0,
 127: 0,
 128: 0,
 132: 0,
 133: 32,
 135: 4,
 136: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 2,
 142: 0,
 143: 0,
 144: 0,
 146: 48,
 147: 0,
 150: 0,
 151: 0,
 153: 117,
 154: 0,
 155: 0,
 156: 0,
 158: 0,
 159: 0,
 160: 104,
 161: 0,
 162: 0,
 164: 0,
 165: 3,
 167: 0,
 168: 278,
 171: 0,
 172: 0,
 173: 0,
 174: 0,
 175: 0,
 176: 0,
 178: 0,
 179: 0,
 180: 0,
 181: 0,
 182: 0,
 183: 0,
 184: 0,
 185: 42,
 187: 0,
 188: 6,
 189: 0,
 193: 0,
 195: 0,
 196: 0,
 197: 75,
 198: 0,
 200: 104,
 201: 0,
 202: 33,
 203: 177,
 204: 0,
 205: 0,
 206: 0,
 208: 0,
 209: 114,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 39,
 215: 0,
 216: 0,
 217: 0,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 0,
 230: 288,
 232: 0,
 234: 0,
 235: 0,
 236: 0,
 237: 0,
 238: 0,
 239: 0,
 240: 0,
 241: 0,
 242: 0,
 243: 0,
 244: 0,
 245: 171,
 246: 0,
 247: 19,
 249: 0,
 250: 0,
 251: 0,
 252: 0,
 253: 0,
 254: 0,
 255: 0,
 256: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 246,
 265: 0,
 266: 0,
 267: 0,
 268: 0,
 271: 0,
 273: 0,
 275: 6,
 277: 0,
 278: 0,
 280: 26,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 289: 0,
 290: 0,
 291: 0,
 292: 0,
 293: 0,
 294: 0,
 295: 0,
 297: 247,
 298: 48,
 299: 0,
 300: 0,
 302: 0,
 303: 0,
 305: 2,
 308: 0,
 309: 0,
 310: 143,
 311: 13,
 312: 0,
 313: 0,
 315: 0,
 316: 0,
 317: 0,
 319: 0,
 320: 0,
 321: 0,
 322: 166,
 323: 0,
 325: 0,
 326: 0,
 329: 0,
 330: 0,
 331: 0,
 333: 0,
 335: 0,
 337: 0,
 338: 0,
 339: 0,
 340: 0,
 341: 73,
 342: 0,
 343: 0,
 345: 0,
 346: 0,
 347: 0,
 349: 0,
 350: 0,
 351: 8,
 352: 0,
 353: 0,
 354: 0,
 357: 0,
 360: 0,
 362: 0,
 363: 10,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 0,
 370: 96,
 371: 0,
 374: 0,
 375: 0,
 376: 0,
 379: 0,
 381: 0,
 382: 0,
 383: 3,
 388: 0,
 389: 0,
 390: 0,
 391: 0,
 393: 0,
 394: 0,
 395: 0,
 397: 0,
 398: 0,
 399: 0,
 400: 0,
 401: 16,
 402: 0,
 403: 0,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 0,
 411: 0,
 413: 0,
 416: 0,
 417: 0,
 418: 9,
 420: 0,
 423: 0,
 424: 0,
 425: 0,
 426: 0,
 427: 0,
 430: 54,
 431: 0,
 433: 0,
 434: 0,
 435: 0,
 436: 0,
 438: 0,
 439: 0,
 440: 0,
 442: 0,
 444: 0,
 445: 467,
 446: 0,
 448: 0,
 449: 0,
 450: 30,
 451: 0,
 452: 0,
 453: 0,
 455: 0,
 457: 0,
 460: 0,
 461: 0,
 462: 86,
 464: 0,
 465: 0,
 469: 1,
 471: 24,
 472: 1,
 473: 0,
 474: 0,
 477: 0,
 478: 0,
 479: 2,
 480: 0,
 481: 0,
 482: 0,
 483: 59,
 486: 0,
 487: 0,
 488: 0,
 490: 0,
 492: 52,
 493: 0,
 494: 4,
 495: 0,
 497: 106,
 498: 0,
 500: 0,
 501: 0,
 502: 0,
 504: 0,
 505: 0,
 506: 0,
 508: 0,
 509: 209,
 510: 226,
 511: 0,
 512: 82,
 513: 0,
 514: 0,
 515: 0,
 516: 0,
 517: 0,
 518: 7,
 519: 0,
 520: 0,
 521: 0,
 522: 29,
 524: 0,
 525: 0,
 526: 0,
 528: 0,
 529: 73,
 531: 0,
 533: 0,
 534: 0,
 535: 221,
 536: 0,
 537: 0,
 538: 0,
 539: 0,
 540: 17,
 542: 0,
 543: 0,
 546: 0,
 547: 10,
 549: 0,
 552: 0,
 553: 113,
 554: 0,
 555: 0,
 557: 0,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 76,
 565: 0,
 566: 0,
 568: 0,
 570: 0,
 571: 0,
 572: 25,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 586: 0,
 588: 0,
 589: 1,
 591: 0,
 592: 0,
 593: 0,
 595: 0,
 596: 0,
 597: 0,
 600: 0,
 601: 3,
 603: 466,
 604: 0,
 605: 377,
 607: 0,
 608: 0,
 609: 0,
 612: 0,
 614: 0,
 615: 0,
 616: 0,
 617: 0,
 618: 38,
 619: 0,
 620: 0,
 621: 0,
 623: 0,
 626: 0,
 627: 14,
 628: 2,
 630: 0,
 632: 26,
 633: 0,
 634: 11,
 635: 0,
 637: 0,
 638: 0,
 639: 113,
 640: 0,
 641: 0,
 643: 0,
 644: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 651: 0,
 652: 0,
 654: 0,
 655: 0,
 656: 0,
 657: 0,
 658: 0,
 660: 0,
 661: 0,
 663: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 87,
 671: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 0,
 679: 150,
 680: 80,
 682: 0,
 683: 0,
 685: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 699: 0,
 700: 0,
 701: 0,
 702: 0,
 703: 0,
 704: 0,
 706: 0,
 707: 0,
 709: 0,
 710: 0,
 712: 0,
 714: 0,
 715: 0,
 716: 0,
 717: 0,
 719: 0,
 720: 0,
 724: 257,
 725: 0,
 726: 0,
 727: 0,
 728: 383,
 729: 0,
 733: 0,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 743: 0,
 745: 0,
 746: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 0,
 753: 0,
 754: 409,
 755: 0,
 757: 0,
 758: 0,
 760: 0,
 761: 0,
 763: 0,
 765: 0,
 767: 0,
 768: 0,
 769: 0,
 771: 0,
 772: 277,
 773: 0,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 780: 0,
 782: 0,
 783: 327,
 784: 0,
 785: 0,
 786: 13,
 787: 0,
 788: 0,
 789: 0,
 791: 0,
 792: 0,
 793: 0,
 794: 0,
 795: 0,
 799: 0,
 801: 0,
 802: 0,
 804: 32,
 805: 0,
 808: 0,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 0,
 814: 0,
 815: 0,
 817: 0,
 819: 0,
 820: 0,
 821: 0,
 822: 0,
 823: 0,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 0,
 829: 0,
 830: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 0,
 836: 0,
 837: 0,
 838: 0,
 842: 0,
 843: 0,
 845: 31,
 846: 0,
 848: 0,
 849: 0,
 850: 0,
 851: 49,
 853: 0,
 856: 0,
 857: 0,
 858: 0,
 859: 0,
 860: 0,
 863: 0,
 865: 0,
 869: 25,
 872: 0,
 874: 28,
 875: 0,
 876: 0,
 878: 0,
 880: 0,
 881: 0,
 882: 35,
 884: 0,
 885: 287,
 886: 0,
 887: 0,
 888: 0,
 891: 0,
 892: 0,
 894: 0,
 895: 0,
 899: 0,
 900: 0,
 901: 178,
 903: 0,
 905: 0,
 906: 580,
 907: 15,
 908: 0,
 910: 0,
 911: 0,
 912: 201,
 913: 0,
 914: 0,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 921: 0,
 922: 0,
 924: 0,
 927: 0,
 928: 74,
 929: 0,
 932: 86,
 934: 125,
 937: 52,
 939: 0,
 940: 0,
 941: 0,
 942: 0,
 943: 5,
 946: 0,
 947: 0,
 948: 0,
 953: 5,
 956: 0,
 957: 0,
 958: 0,
 959: 0,
 960: 0,
 962: 0,
 963: 0,
 967: 0,
 969: 0,
 972: 0,
 973: 0,
 975: 0,
 976: 0,
 977: 0,
 978: 0,
 980: 72,
 981: 0,
 982: 0,
 983: 0,
 984: 0,
 985: 10,
 986: 0,
 989: 0,
 991: 0,
 992: 0,
 994: 0,
 995: 0,
 996: 0,
 997: 0,
 999: 0,
 1001: 0,
 1004: 0,
 1005: 0,
 1007: 1,
 1009: 29,
 1010: 0,
 1013: 0,
 1014: 0,
 1016: 0,
 1017: 241,
 1018: 13,
 1020: 0,
 1023: 0,
 1025: 0,
 1026: 0,
 1027: 324,
 1028: 0,
 1030: 0,
 1031: 0,
 1033: 0,
 1034: 0,
 1035: 0,
 1036: 0,
 1037: 0,
 1038: 0,
 1039: 0,
 1040: 0,
 1041: 0,
 1043: 0,
 1045: 0,
 1047: 0,
 1048: 0,
 1049: 0,
 1052: 0,
 1053: 0,
 1054: 0,
 1055: 246,
 1056: 0,
 1057: 0,
 1058: 0,
 1060: 0,
 1061: 50,
 1063: 0,
 1064: 0,
 1066: 0,
 1068: 0,
 1069: 0,
 1070: 0,
 1072: 291,
 1074: 0,
 1076: 0,
 1077: 0,
 1078: 0,
 1079: 0,
 1080: 0,
 1082: 0,
 1083: 0,
 1084: 0,
 1085: 0,
 1086: 0,
 1087: 0,
 1088: 0,
 1089: 89,
 1090: 0,
 1091: 0,
 1092: 0,
 1093: 2,
 1094: 56,
 1095: 0,
 1096: 0,
 1099: 166,
 1100: 0,
 1101: 0,
 1103: 0,
 1104: 0,
 1105: 0,
 1106: 2,
 1107: 12,
 1108: 0,
 1109: 0,
 1110: 0,
 1112: 0,
 1113: 0,
 1114: 0,
 1115: 0,
 1117: 0,
 1119: 13,
 1121: 0,
 1123: 2,
 1124: 3,
 1125: 0,
 1126: 0,
 1128: 78,
 1129: 105,
 1131: 0,
 1132: 0,
 1133: 0,
 1134: 0,
 1135: 0,
 1136: 4,
 1137: 0,
 1139: 0,
 1140: 0,
 1141: 0,
 1143: 0,
 1144: 0,
 1145: 2,
 1147: 0,
 1148: 0,
 1149: 0,
 1150: 12,
 1151: 2,
 1152: 0,
 1153: 0,
 1154: 0,
 1155: 330,
 1156: 79,
 1157: 0,
 1159: 0,
 1160: 0,
 1161: 0,
 1162: 0,
 1163: 54,
 1166: 0,
 1167: 0,
 1168: 0,
 1169: 0,
 1170: 0,
 1171: 0,
 1173: 0,
 1176: 0,
 1177: 0,
 1178: 0,
 1180: 0,
 1181: 0,
 1183: 0,
 1184: 0,
 1186: 5,
 1187: 0,
 1188: 0,
 1191: 0,
 1193: 0,
 1194: 0,
 1195: 0,
 1196: 29,
 1197: 0,
 1199: 0,
 1200: 0,
 1202: 337,
 1203: 0,
 1205: 0,
 1207: 0,
 1210: 0,
 1211: 0,
 1212: 0,
 1213: 0,
 1214: 13,
 1217: 0,
 1218: 0,
 1221: 0,
 1222: 0,
 1223: 0,
 1225: 0,
 1226: 0,
 1227: 0,
 1229: 0,
 1230: 0,
 1232: 0,
 1233: 0,
 1234: 0,
 1235: 3,
 1236: 0,
 1237: 0,
 1238: 0,
 1239: 0,
 1240: 0,
 1242: 3,
 1243: 0,
 1244: 0,
 1245: 6,
 1247: 0,
 1250: 18,
 1251: 0,
 1252: 0,
 1253: 0,
 1254: 0,
 1256: 0,
 1257: 0,
 1260: 0,
 1266: 0,
 1267: 0,
 1268: 0,
 1271: 0,
 1273: 0,
 1274: 1,
 1278: 0,
 1279: 0,
 1280: 71,
 1281: 0,
 1282: 0,
 1283: 0,
 1285: 0,
 1286: 0,
 1287: 0,
 1288: 0,
 1289: 0,
 1290: 36,
 1291: 0,
 1293: 0,
 1294: 0,
 1296: 0,
 1297: 0,
 1298: 0,
 1299: 0,
 1301: 0,
 1302: 0,
 1303: 0,
 1305: 0,
 1306: 0,
 1307: 0,
 1308: 0,
 1309: 0,
 1310: 0,
 1311: 0,
 1312: 0,
 1313: 0,
 1314: 0,
 1316: 0,
 1317: 0,
 1318: 26,
 1319: 45,
 1320: 262,
 1321: 0,
 1322: 0,
 1324: 0,
 1325: 0,
 1326: 0,
 1327: 12,
 1328: 0,
 1331: 0,
 1332: 0,
 1333: 0,
 1335: 0,
 1338: 0,
 1339: 256,
 1343: 177,
 1344: 0,
 1345: 233,
 1346: 0,
 1347: 0,
 1349: 0,
 1350: 32,
 1352: 0,
 1353: 0,
 1354: 0,
 1355: 0,
 1356: 0,
 1357: 71,
 1358: 0,
 1359: 0,
 1360: 0,
 1361: 3,
 1363: 0,
 1365: 0,
 1366: 0,
 1367: 0,
 1368: 187,
 1369: 0,
 1371: 0,
 1372: 0,
 1373: 0,
 1378: 0,
 1379: 1,
 1380: 0,
 1381: 0,
 1382: 0,
 1385: 0,
 1386: 0,
 1387: 0,
 1388: 0,
 1389: 0,
 1390: 0,
 ...}

In [25]:
login_df

                time_stamp  user_id  delta  adopted
0      2014-04-22 03:53:30        1      0        0
1      2013-11-15 03:45:04        2   -159        0
2      2013-11-29 03:45:04        2     14        0
3      2013-12-09 03:45:04        2     10        0
4      2013-12-25 03:45:04        2     16        0
5      2013-12-31 03:45:04        2      6        0
6      2014-01-08 03:45:04        2      8        0
7      2014-02-03 03:45:04        2     26        0
8      2014-02-08 03:45:04        2      5        0
9      2014-02-09 03:45:04        2      1        0
10     2014-02-13 03:45:04        2      4        0
11     2014-02-16 03:45:04        2      3        0
12     2014-03-09 03:45:04        2     21        0
13     2014-03-13 03:45:04        2      4        0
14     2014-03-31 03:45:04        2     18        0
15     2013-03-19 23:14:52        3   -377        0
16     2013-05-22 08:09:28        4     63        0
17     2013-01-22 10:14:20        5   -120        0
18     2013-12-19 03:37:06        6    330        0
19     2012-12-20 13:24:32        7   -364        0
20     2013-01-16 22:08:03       10     27        0
21     2013-01-22 22:08:03       10      6        0
22     2013-01-30 22:08:03       10      8        0
23     2013-02-04 22:08:03       10      5        0
24     2013-02-06 22:08:03       10      2        0
25     2013-02-14 22:08:03       10      8        0
26     2013-02-17 22:08:03       10      3        0
27     2013-02-19 22:08:03       10      2        0
28     2013-02-26 22:08:03       10      7        0
29     2013-03-01 22:08:03       10      3        1
...                    ...      ...    ...      ...
207887 2014-04-28 11:04:47    11988      3        1
207888 2014-04-29 11:04:47    11988      1        1
207889 2014-04-30 11:04:47    11988      1        0
207890 2014-05-04 11:04:47    11988      4        0
207891 2014-05-08 11:04:47    11988      4        0
207892 2014-05-14 11:04:47    11988      6        0
207893 2014-05-17 11:04:47    11988      3        1
207894 2014-05-18 11:04:47    11988      1        1
207895 2014-05-19 11:04:47    11988      1        1
207896 2014-05-20 11:04:47    11988      1        1
207897 2014-05-21 11:04:47    11988      1        1
207898 2014-05-23 11:04:47    11988      2        1
207899 2014-05-24 11:04:47    11988      1        1
207900 2014-05-26 11:04:47    11988      2        0
207901 2014-05-27 11:04:47    11988      1        0
207902 2014-06-01 11:04:47    11988      5        0
207903 2013-09-07 11:24:33    11989   -267        0
207904 2013-07-06 21:00:48    11990    -63        0
207905 2014-04-20 14:22:45    11991    287        0
207906 2014-04-25 14:22:45    11991      5        0
207907 2014-04-28 14:22:45    11991      3        0
207908 2014-05-17 14:22:45    11991     19        0
207909 2014-05-30 14:22:45    11991     13        0
207910 2014-04-11 19:39:56    11992    -49        0
207911 2013-10-22 13:33:17    11995   -172        0
207912 2013-09-06 06:14:15    11996    -47        0
207913 2013-01-15 18:28:37    11997   -234        0
207914 2014-04-27 12:45:16    11998    466        0
207915 2012-06-02 11:55:59    11999   -695        0
207916 2014-01-26 08:57:12    12000    602        0

[207917 rows x 4 columns]